@import '~bulma/sass/utilities/_all';
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// Color

$accent: #16A085;
$accent-light: findLightColor($accent);
$accent-dark: findDarkColor($accent);
$accent-invert: findColorInvert($accent);

$danger: #E74C3C;
$danger-light: findLightColor($danger);
$danger-dark: findDarkColor($danger);
$danger-invert: findColorInvert($danger);

$colors: (
  "accent": (
    $accent,
    $accent-invert,
    $accent-light,
    $accent-dark,
  ),
  "danger": (
    $danger,
    $danger-invert,
    $danger-light,
    $danger-dark,
  ),
);

@import '~bulma';
@import '~buefy/src/scss/buefy';

// Dropdown

.dropdown-menu {
  left: initial;
  right: 0;

  .dropdown-content {
    background-color: $sub-main-color;
    border: solid 1px $contrast-color;
  }
  .dropdown-item {
    height: 32px;
    color: $font-color;

    &:hover {
      color: $font-color;
      background-color: $main-color;
    }
    .row-title-grid {
      height: 18px !important;
    }
  }
}

// Pagenation

.pagination-link {
  background-color: white;
}

// Sidebar

/// for mobile
.sidebar-content {
  background-color: $main-color !important;
}

.sidebar-container {
  max-width: 85vw;
  width: 300px;
  margin: 16px 0;
  padding: 0 !important;
  background-color: $main-color !important;
  .menu {
    .menu-label {
      padding: 0 16px;
      font-size: 20px;
      color: $font-color;
    }
    .menu-list {
      font-size: 20px;
      a {
        padding: 8px 24px;
      }
      .icon {
        margin-right: 8px;
      }
      .icon-text {
        color: $font-color;
        &:hover {
          background-color: $sub-main-color;
        }
        &.is-active {
          background-color: $sub-main-color;
        }
      }
    }
  }
}

// Select

select {
  color: $font-color;
  border-color: $sub-main-color;
  background-color: $sub-main-color;
}

select[disabled] {
  border-color: $sub-main-color !important;
  background-color: $sub-main-color !important;
}

.select::after {
  border-color: $font-color !important;
}

// Field

.field {
  label {
    color: $font-color !important;
  }
  .input, input, textarea, select {
    color: $font-color;
    background-color: $sub-main-color;
  }
}

// Modal

.modal {
  z-index: 99;
}

.animation-content, .modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .modal-content {
  width: auto;
}

.modal-card-body.is-titleless {
  width: 100%;
}

.modal-card-foot {
  width: 100%; 
  padding: 12px 20px;
}