@import '~bulma/sass/utilities/_all';
@import '~bulma';
@import '~buefy/src/scss/buefy';

// Color

$primary: #9748d8;
$primary-invert: findColorInvert($primary);
$colors: (
  "primary": ($primary, $primary-invert)
);

// Dropdown

.dropdown-menu {
  left: initial;
  right: 0;
  .dropdown-item {
    height: 32px;
  }
}