@import '~bulma/sass/utilities/_all';
@import '~bulma';
@import '~buefy/src/scss/buefy';

// Dropdown

.dropdown-menu {
  left: initial;
  right: 0;
  .dropdown-item {
    height: 32px;
  }
}

// Field

.field {
  label {
    color: $contrast-color;
  }
  .input, input, textarea, select {
    color: $font-color;
    background-color: $sub-main-color;
  }
}

// Modal

.modal {
  z-index: 99;
}

.animation-content, .modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .modal-content {
  width: auto;
}

.modal-card-body.is-titleless {
  width: 100%;
}

.modal-card-foot {
  width: 100%; 
  padding: 12px 20px;
}