$background-color: var(--background-color);
$base-color: var(--base-color);
$main-color: var(--main-color);
$accent-color: var(--accent-color);
$sub-color: var(--sub-color);
$subAccent-color: var(--subAccent-color);
