$main-color: var(--main-color);
$sub-main-color: var(--sub-main-color);
$contrast-color: var(--contrast-color);
$font-color: var(--font-color);
$sub-accent-color: var(--sub-accent-color);
$accent-color: var(--accent-color);
$danger-color: var(--danger-color);
